<html lang='en'>
<head>
<title>42 Coffee Cups Test Assignment</title> 
{% load staticfiles %}
<link rel="stylesheet" href="{% static "contacts/css/styles.css" %}" type="text/css" media="screen" />
</head>
<body>
	<p>
	<h1>42 Coffee Cups Test Assignment</h1>
	<div class="menu">
		{% if user.is_authenticated %}
			<a href="{% url 'auth_logout_next' request.path %}">Logout</a>
		{% else %}
			<a href="{% url 'django.contrib.auth.views.login'%}?next={{request.path}}">Login</a>
		{% endif %}
	</div>
	</p>
	<div class="container">
		{% block content %} 
		{% endblock %}		
	</div>
	<div>
		<hr style='width:100%'/>
		<a href='/middleware'>requests</a>
	</div>
</body>
</html>