{% extends "__base.html" %} {% block content %}
{%load contacts_filters %}
<form action="{{ action }}" method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	
	<div>
		<div class="left">
		
	 	{% for field in form %}
	 		<div class="fieldWrapper">
	 			{% if field.errors %}
	 			<p>
					{{ field.errors }}
				</p>
				{% endif %}
				<p>
					<span>{{ field.label_tag }}</span> {{ field }}
				</p>
	 			{% if field|is_File %}
					<div class="photo">
					{% if contact.photo %}
						<img src="{{ contact.photo.url }}" alt="{{ contact.name }} {{ contact.surname }} Photo" />
					{% else %}
						<p>Photo was not uploaded yet</p>
					{% endif %}
					</div>
				{% endif %}
				</div>
				{% if forloop.counter == 4 %}
					</div><div class="left">
					<p>Contacts</p>
				{% endif %}
	    {% endfor %}
	    </div>
	</div>
	<div class="clear" />
	<p>
		<input type="submit" value="Save" />
		<a href="{% url 'index' contact.pk %}">Cancel</a>
	</p>
</form>

{% endblock %}
